<ng-container [formGroup]="form">

  <mat-selection-list *ngIf="disabled; else enabled" class="disabled options-list" formArrayName="list">
    <mat-list-item *ngFor="let c of visibleControls; let i = index" class="options-list-item">
      <mat-icon class="drag-indicator disabled" matListIcon>drag_indicator</mat-icon>
      <app-column-option [formControlName]="i"></app-column-option>
    </mat-list-item>
  </mat-selection-list>

  <ng-template #enabled>
    <mat-selection-list cdkDropList (cdkDropListDropped)="onDropDropListDropped($event)" class="options-list"
                        formArrayName="list">
      <mat-list-item *ngFor="let c of visibleControls; let i = index" cdkDrag class="options-list-item">
        <mat-icon class="drag-indicator" matListIcon>drag_indicator</mat-icon>
        <app-column-option [formControlName]="i"></app-column-option>
      </mat-list-item>
    </mat-selection-list>
  </ng-template>

</ng-container>
