.chips {
  align-items: flex-end;
  display: flex;
  flex-flow: column nowrap;
}


.container {
  display: flex;
  flex-flow: column nowrap;
}


.boolean-more-options {

  display: flex;
  flex-flow: column nowrap;
  margin-right: 24px;
  width: 212px;

}


mat-chip-list {

  &:focus {
    outline: none;
  }

}


mat-list-option {

  &.mat-focus-indicator {
    background: inherit;
  }

  &.mat-list-item-disabled {
    background: inherit;
  }

}


.more-options {
  align-items: flex-end;
  display: flex;
  flex-flow: column nowrap;
}


.options {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}
