<div class="eca-actions">
  <button mat-flat-button color="secondary" [routerLink]="['/']"><mat-icon>arrow_back</mat-icon> Home</button>
  <button type="submit" mat-flat-button color="primary" (click)="onSave()" [disabled]="!form.valid || saving">Save</button>
</div>
<h1>Configuration</h1>

<form [formGroup]="form" *ngIf="ready">
<mat-tab-group>

<mat-tab label="Columns">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Default columns</mat-card-title>
      <mat-card-subtitle>These columns will be selected when someone first uses the app or when they click the defaults button.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-column-options-list [alwaysShowChips]="true" [alwaysShowHidden]="true" [showDefaultsButton]="false"
                               formControlName="columnOptionsList">
      </app-column-options-list>
    </mat-card-content>
  </mat-card>
</mat-tab>

<mat-tab label="Libraries">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Default circulation desk codes
      </mat-card-title>
      <mat-card-subtitle>If you set a circulation desk code here, this code will be used by default for that library.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-circ-desk-code-defaults formControlName="circDeskCodeDefaults"></app-circ-desk-code-defaults>
    </mat-card-content>
  </mat-card>
</mat-tab>

<mat-tab label="Other">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Other Settings
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-slide-toggle formControlName="groupByLocation">Group by location</mat-slide-toggle>
    </mat-card-content>
  </mat-card>
</mat-tab>

</mat-tab-group>
</form>

<div class="loading-shade" *ngIf="saving || !ready">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>
