.library-code-form-field {
  display: block;
}

.circ-desk-code-form-field {
  display: block;
  margin-top: 24px;
}

.btn-separator {
  border-left: 1px solid #efefef;
  height: 34px;
  margin-left: 7px;
}
