<form [formGroup]="form" (ngSubmit)="print()">

  <div class="eca-actions">
    <button type="submit" mat-flat-button color="primary" [disabled]="!form.valid || loading">Print</button>
  </div>

  <mat-form-field appearance="standard" [style.margin-right.px]="4" hideRequiredMarker="true">
    <mat-label>Library code</mat-label>
    <input matInput formControlName="libraryCode" required>
  </mat-form-field>

  <mat-form-field appearance="standard" hideRequiredMarker="true">
    <mat-label>Circulation desk code</mat-label>
    <input matInput formControlName="circDeskCode" required>
  </mat-form-field>

  <div formArrayName="columns">
    <mat-label>Columns</mat-label>
    <div *ngFor="let column of columns.controls; let i=index">
      <mat-checkbox [formControlName]="i">{{ columnNames[i] }}</mat-checkbox>
    </div>
  </div>

</form>

<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>
