@mixin main-component-theme($theme, $typgraphy) {
  div.highlight {
    border: mat-color(map-get($theme, primary)) solid 2px;
    background-color: mat-color(map-get($theme, primary), lighter);
    padding: 5px;
    font-weight: bolder;
  }
}