<form [formGroup]="form" *ngIf="ready">

  <div class="eca-actions">
    <button mat-flat-button color="secondary" (click)="beforeDownload()" routerLink="download-excel-slip-report" [disabled]="!form.valid || loading">Download</button>
    <button mat-flat-button color="primary" (click)="onPrint()" [disabled]="!form.valid || loading">Print</button>
  </div>

  <mat-tab-group>

  <mat-tab label="Location">

    <mat-form-field class="library-code-form-field" [style.margin-right.px]="8" hideRequiredMarker="true">
      <mat-label>Library code</mat-label>
      <input matInput formControlName="libraryCode" required (change)="onLibraryCodeChange()">
      <mat-hint>Enter the library's code, not its name</mat-hint>
      <mat-error *ngIf="libraryCodeControl.invalid">{{ libraryCodeError }}</mat-error>
    </mat-form-field>
    <mat-form-field class="circ-desk-code-form-field" hideRequiredMarker="true"
                    hintLabel="Enter the desk's code, not its name">
      <mat-label>Circulation desk code</mat-label>
      <input matInput formControlName="circDeskCode" required>
      <mat-error *ngIf="circDeskCodeControl.invalid">{{ circDeskCodeError }}</mat-error>
    </mat-form-field>

  </mat-tab>

  <mat-tab label="Columns">
    <mat-error *ngIf="columnOptionsListControl.invalid">{{ columnOptionsListError }}</mat-error>
    <div [style.margin-top.px]="12">
      <app-column-options-list formControlName="columnOptionsList" required (resetToDefaults)="this.onResetToDefaults()"></app-column-options-list>
    </div>
  </mat-tab>

  </mat-tab-group>

</form>

<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>
